.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left-container {
    align-self: flex-start;
    margin-top: 30px;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 2px #aaa, -0px -0px 2px #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right-container {
    margin-top: 30px;
}

.item {
    /* margin-top: 30px; */
    width: 350px;
    height: 150px;
    box-shadow: 0px 0px 2px #aaa, -0px -0px 2px #fff;
    padding: 10px;
}

.btn-chirp {
    padding: 10px;
    color: while;
    background-color: lavender;
    border-radius: 10%;
    border: none;
}

.btn-chirp:hover {
    padding: 10px;
    color: whitesmoke;
    background-color: blueviolet;
    border-radius: 10%;
    border: none;
}

input {
    padding: 5px;
}

textarea {
    padding: 5px;
}
